<mat-drawer-container class="search-container">
  <mat-drawer mode="side" opened="true" class="search-sidebar">
    <app-filter></app-filter>
  </mat-drawer>
  <mat-drawer-content>
    <div class="feeds-filters">
        <!-- <app-filter-chips></app-filter-chips> -->
    </div>
    <!-- <mat-divider></mat-divider> -->
    <div class="feeds-container">
        <mat-toolbar class="search-toolbar">
          <span>Search Results:</span>
        
          <!-- This fills the remaining space of the current row -->
          <span class="fill-remaining-space"></span>
        
          <span>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </span>
        </mat-toolbar>
      <div *ngFor="let item of filteredFeeds">
          <app-card [feed]="item"></app-card>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
